<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <div>
                <label for="username">Username:</label>
                <br>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <br>
                <label for="password">Password:</label>
                <br>
                <input type="password" id="password" name="password" required>
            </div>
            <br>
            <button type="submit">Login</button>
            <a href="/signup"><button type="button">Sign up</button></a> <!-- Assuming signup page is signup.ejs -->
        </form>
    </div>
</body>
</html>
